<section id="body">
    <section id="wrapper">
        <div class="symbol">
            <h3 (click)="rotate(0)">{{ myArray[currWords[0]] }}</h3>
        </div>
        <div class="symbol">
            <h3 (click)="rotate(1)">{{ myArray[currWords[1]] }}</h3>
        </div>
        <div class="symbol">
            <h3 (click)="rotate(2)">{{ myArray[currWords[2]] }}</h3>
        </div>
        <div class="symbol">
            <h3 (click)="rotate(3)">{{ myArray[currWords[3]] }}</h3>
        </div>
        <div class="symbol">
            <h3 (click)="rotate(4)">{{ myArray[currWords[4]] }}</h3>
        </div>
    </section>
    <div class="check" *ngIf = 'correctPhrase'>Unlocked!</div>
</section>